[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_C621866D515137474C202020FF0C2A2B-if00
x_offset: 0 
y_offset: 20 
# Added specific axis passing to the pre-macro for future flexibility
home_gcode_pre_x: _HOME_PRE_AXIS AXIS=X
home_gcode_post_x: _HOME_POST_AXIS AXIS=X
home_gcode_pre_y: _HOME_PRE_AXIS AXIS=Y
home_gcode_post_y: _HOME_POST_AXIS AXIS=Y
contact_max_hotend_temperature: 180
home_xy_position: 175, 175
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: never 
mesh_main_direction: x
mesh_runs: 1

[gcode_macro _HOME_PRE_AXIS]
gcode:
  {% set HOME_CURRENT = 0.5 %}
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
  # Pause to ensure current settings take effect before move
  G4 P200

[gcode_macro _HOME_POST_AXIS]
gcode:
  {% set axis = params.AXIS|lower %}
  {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
  {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}

  # Move away
  SAVE_GCODE_STATE NAME=home_post_axis
  G91
  G0 {axis|upper}-10 F3600
  RESTORE_GCODE_STATE NAME=home_post_axis

  M400 # Wait for move to finish
  
  # Reset current ONLY for the axis that just homed
  {% if axis == "x" %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
  {% elif axis == "y" %}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
  {% endif %}
