[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_C621866D515137474C202020FF0C2A2B-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 20 # update with offset from nozzle on your machine
contact_max_hotend_temperature: 180 # increase to probe at print temps
home_xy_position: 175, 175 # update with your safe position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: never # contact will calibrate beacon on first home
mesh_main_direction: x
mesh_runs: 1

  ### beacon Macros
    
[gcode_macro _HOME_PRE_AXIS]
gcode:
  # Adapt this for your printer.
  {% set HOME_CURRENT = 0.5 %}
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

[gcode_macro _HOME_POST_AXIS]
gcode:
  {% set axis = params.AXIS %}
  {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
  {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}

  # Move away
  SAVE_GCODE_STATE NAME=home_post_axis
  G91
  G0 {axis}-10 F3600
  RESTORE_GCODE_STATE NAME=home_post_axis

  # Make sure StallGuard registers are cleared
  M400
  # Set current during print
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}


#  [beacon]
#default_probe_method: proximity|contact
# Sets the default probing method for mesh, tilt, qgl, probe, etc.
#contact_max_hotend_temperature: 180 # increase to enable hot contacting
# Temperature limit for the hotend when contacting, override this for temps which may damage some surfaces.
#contact_sensitivity: 0
# Adjusts noise tolerance of contact processing. Values 0-3 are valid, with 3 tolerating the most noise.
#contact_latency_min: 0
# Limits how low of a latency contact is allowed to advance.

# new additions for beacon safe_z_home functionality
#home_xy_position: 117.5, 117.5
# X, Y coordinate for homing z via contact.
#home_z_hop: 5
# Distance to retract before x/y homing moves.
#home_z_hop_speed: 30
# Retraction speed for z hop.
#home_xy_move_speed: 300
# Speed for moving to home_xy_position.
#home_y_before_x: False
# If set, the Y axis will home first when using the beacon safe_z_home

# new additions for setting default homing mode
#home_method: contact|proximity
# Sets default homing method used by G28. `proximity` requires a valid beacon model to be loaded.
#home_method_when_homed: contact|proximity # defaults to `home_method` value
# Sets the homing method when the machine is already in a homed state.
#home_autocalibrate: always|unhomed|never
# Sets the autocalibration behavior. `always` will autocal on every home, `unhomed` on initial homing,
# `never` will never so that models stored in config may be used with proximity homing.

#home_gcode_pre_x: _HOME_PRE_AXIS AXIS=X
# Enables a gcode macro before homing the x axis
#home_gcode_post_x: _HOME_POST_AXIS AXIS=X
# Enables a gcode macro after homing the x axis
#home_gcode_pre_y: _HOME_PRE_AXIS AXIS=Y
# Enables a gcode macro before homing the y axis
#home_gcode_post_y: _HOME_POST_AXIS AXIS=Y
# Enables a gcode macro after homing the x axis

#contact_activate_gcode: _CONTACT_ACTIVATE
# Enables a gcode macro to be called before contact is activated
#contact_deactivate_gcode: _CONTACT_DEACTIVATE
# Enables a gcode macro to be called after contact is deactivated

# new autocalibration config options
#autocal_speed: 3
# Speed during contact movement. Probing outside of 2-5mm/s not recommended and at your own risk.
#autocal_accel: 100
# Acceleration of autocal movement.
#autocal_retract_dist: 2
# Retract distance between autocal samples.
#autocal_retract_speed: 10
# Speed of autocal retraction move.
#autocal_sample_count: 3
# Number of samples used for each autocal.
#autocal_tolerance: 0.008
# Acceptance tolerance for an autocal result.
#autocal_max_retries: 3
# Number of retry attempts permitted when tolerance is exceeded.