[filament_switch_sensor filament_sensor]
switch_pin: ^PG12
pause_on_runout: False
insert_gcode:
    { action_respond_info("Insert Detected") }  
runout_gcode:
    { action_respond_info("Runout Detected") }
    {% if printer.print_stats.state == "printing" %}
      _FIL_CHANGE_PARK
    {% endif %}

[filament_motion_sensor encoder_sensor]
switch_pin: ^PG13
detection_length: 9
extruder: extruder
pause_on_runout: False
insert_gcode:
    { action_respond_info("Filament Encoder is Running") }
runout_gcode:
    { action_respond_info("Filament Encoder Stall Detected") }
    {% if printer.print_stats.state == "printing" %}
      _FIL_CHANGE_PARK
    {% endif %}

[delayed_gcode encoder_sensor]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0

#########################################################################
# before demon 21/06/2026
#######################################################################
# [filament_switch_sensor switch_sensor]
# switch_pin: ^PG12
# pause_on_runout: True
# runout_gcode:
#   PAUSE # [pause_resume] is required in printer.cfg
#   M117 Filament switch runout
# insert_gcode:
#   M117 Filament switch inserted

# [filament_motion_sensor encoder_sensor]
# switch_pin: ^PG13
# detection_length: 9
# extruder: extruder
# pause_on_runout: True
# event_delay: 5.0
# pause_delay: 0.5
# runout_gcode:
#   PAUSE # [pause_resume] is required in printer.cfg
#   M117 Filament encoder runout
# insert_gcode:
#   # pause_resume
#   M117 Filament encoder inserted
  
# [delayed_gcode disable_filament_encoder_sensor_on_startup]
# initial_duration: 1
# gcode:
#     SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
#     M117 Filament motoion sensor disabled
