[gcode_shell_command backup_printer]
command: /usr/bin/bash /home/pi/printer_data/config/autocommit.sh
timeout: 30
verbose: True

[gcode_macro BACKUP_PRINTER]
description: Backs up config directory GitHub
gcode:
     RUN_SHELL_COMMAND CMD=backup_printer

# [gcode_shell_command backup_cfg]
# command: ~/printer_data/config/autocommit.sh
# timeout: 30
# verbose: True

# [gcode_macro BACKUP_CFG]
# description: Backs up config directory GitHub
# gcode:
#     RUN_SHELL_COMMAND CMD=backup_cfg
